.custom-select {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0;
  background-color: $color-transparent;
  display: flex;
  flex-direction: column-reverse;

  p {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    opacity: 0.8;
    color: $color-light;
    font-family: $font-regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    color: $color-light;
    font-family: $font-regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 16px 25px;
    background-color: $color-transparent;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 16px 25px;

    &:focus-visible {
      outline: none;
      border: 1px solid $color-default-white;
    }

    &:focus-visible ~ p {
      opacity: 1;
    }
  }

  &:hover p {
    opacity: 1;
  }

  &:hover button {
    border: 1px solid $color-default-white;
  }

  span {
    text-align: left;
  }

  svg {
    transition: transform ease-in-out 0.3s;
  }

  &.active svg {
    transform: rotate(180deg);
  }

  ul {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    width: 100%;
    margin-top: 4px;
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
    background: $color-default-white;
    top: 75px;
    box-shadow: 0 0 0 1px $color-default-white;
  }

  &.active ul {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    z-index: 10;
  }

  li {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  label {
    cursor: pointer;
    width: 100%;
    padding: 17px 20px;
    color: $color-dark;
    font-family: $font-regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    &:hover {
      color: $color-bright;
    }
  }

  input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;

    &:checked ~ label,
    &:focus-visible ~ label,
    &:focus-within ~ label {
      background-color: $color-bright;
      color: $color-default-white;
    }
  }
}
