.header__container {
  background-color: $color-transparent;
}

.header__wrapper {
  position: relative;
  background-color: $color-transparent;
}

.header__positioning-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 100vh;

  @include vp-1200 {
    padding: 30px 45px 0;
  }

  @include vp-767 {
    padding: 20px 15px 0;
  }
}

.header__logo {
  position: relative;
  z-index: 2;

  &:hover,
  &:focus-visible,
  &:active {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__menu-button {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  padding: 3px 3px 3px 20px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid $color-bright;
  background-color: $color-default-white;
  transition: 0.4s ease;

  span {
    color: $color-bright;
    text-align: center;
    font-family: $font-regular;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
  }

  .header__menu-icon-burger {
    margin-left: 20px;
  }

  .header__menu-icon-cross {
    display: none;
  }

  &--opened {
    background-color: $color-bright;

    span {
      color: $color-default-white;
    }

    .header__menu-icon-burger {
      display: none;
    }

    .header__menu-icon-cross {
      display: block;
      margin-left: 172px;

      @include vp-1200 {
        margin-left: auto;
      }
    }

    @include vp-1200 {
      width: 100%;
    }
  }
}

.header__menu-wraper {
  position: relative;
  z-index: 11;

  &--opened {
    @include vp-1200 {
      width: 286px;
    }
  }
}

.header__nav {
  visibility: hidden;

  &--opened {
    margin: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 58px;
    width: 100%;
    padding: 35px 25px 34px;
    border-radius: 16px;
    background: $color-bright;
    max-height: calc(100vh - 139px);
    overflow: auto;
    visibility: visible;
  }
}

.header__menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 0;

  &--inner {
    margin-top: 16px;
    margin-left: 16px;
    display: none;
  }
}

.header__nav--opened .header__menu-list {
  transition: max-height 1s;
  max-height: 100vh;
}

.header__menu-item {
  list-style-type: none;
  margin: 0;
  margin-bottom: 22.5px;
  padding: 0;

  &--inner {
    margin-bottom: 12px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.header__menu-link,
.header__menu-expanded-link {
  color: $color-default-white;
  font-family: $font-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  opacity: 0.7;

  &--inner {
    opacity: 0.6;
    text-transform: capitalize;
  }

  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 1;
  }
}

.header__menu-expanded-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    right: -16px;
    width: 12px;
    height: 12px;
    background-color: $color-transparent;
    background-image: url("../img/svg/arrow-menu-down.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: center;
  }

  &--opened {
    opacity: 1;

    &::before {
      background-image: url("../img/svg/arrow-menu-up.svg");
    }

    & ~ .header__menu-list--inner {
      display: block;
    }
  }
}
