.hero__container {
  padding: 124px 0 60px;
  position: relative;
  background-color: $color-dark;
  min-height: 800px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;

  @include vp-1200 {
    min-height: 1024px;
  }

  @include vp-767 {
    padding-top: 94px;
    padding-bottom: 20px;
    min-height: 568px;
  }

  &--trainee {
    background-image: url("../img/hero/hero1@2x.jpg");

    @include vp-1200 {
      background-image: url("../img/hero/hero1-tab@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/hero/hero1-mob@2x.jpg");
    }
  }

  &--volunteers {
    background-image: url("../img/hero/hero2@2x.jpg");

    @include vp-1200 {
      background-image: url("../img/hero/hero2-tab@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/hero/hero2-mob@2x.jpg");
    }
  }

  &--profession {
    background-image: url("../img/hero/hero3@2x.jpg");

    @include vp-1200 {
      background-image: url("../img/hero/hero3-tab@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/hero/hero3-mob@2x.jpg");
    }
  }
}

.hero__wrapper {
  padding: 0 372px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include vp-1200 {
    padding: 0 64px 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.hero__block-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h2 {
    margin: 0;
    padding: 43px 50px 28px;
    color: $color-bright;
    font-family: $font-regular;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    background-color: $color-default-white;
    border-radius: 0 30px 30px 0;
    letter-spacing: -0.6px;

    @include vp-1200 {
      font-size: 36px;
      line-height: 44px;
      padding: 33px 40px 24px 40px;
      letter-spacing: -1px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 26px;
      padding: 20px 14px 16px 14px;
      border-radius: 0 16px 16px 0;
      letter-spacing: -0.6px;
    }
  }

  &--trainee {

    h2 {
      @include vp-1200 {
        letter-spacing: -1.3px;
        padding: 29px 40px 24px 40px;
      }
      }
    }
  }

.hero__description-wrapper {
  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;
  padding: 0 50px 27px;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 89px;
  max-width: 80%;

  &::before {
    @include angle;
    top: 0;

    @include vp-767 {
      left: calc(100% - 29px);
    }
  }

  @include vp-1200 {
    padding: 0 40px 32px 40px;
    max-width: 100%;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 0;
    background-color: $color-transparent;
    align-items: start;
  }

  p {
    margin: 0;
    margin-top: -7px;
    margin-right: 25px;
    padding: 0;
    max-width: 450px;
    color: $color-dark;
    font-family: $font-regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    min-width: calc(100% - 232px);;

    @include vp-1200 {
      padding: 0;
      line-height: 20px;
      max-width: 290px;
      min-width: 285px;
    }

    @include vp-767 {
      padding: 0 14px 10px 14px;
      background-color: $color-default-white;
      margin: 0;
      border-radius: 0 0 14px 0;
      max-width: 90%;
      font-size: 13px;
      margin-top: -5px;
      min-width: auto;
    }
  }

  br {
    @include vp-1200 {
      display: none;
    }
  }

  &--trainee {
    @include vp-1200 {
      padding: 0 40px 25px 40px;
    }

    p {
      margin-right: 35px;
    }
  }
}

.hero__button-wrapper {

  @include vp-1200 {
    min-height: 54px;
  }

  @include vp-767 {
    padding: 10px 15px;
    background-color: $color-default-white;
    border-radius: 0 0 14px 14px;
    position: relative;

    &::before {
      @include angle;
      top: 0;
    }
  }

  a {
    margin-top: -9px;

    @include vp-1200 {
      margin-top: -12px;
    }

    @include vp-767 {
      margin-top: 0;
    }
  }

  &--trainee a {

    @include vp-1200 {
      margin-top: -4px;
    }

  }
}

.hero__link-icon {
  @include vp-1200 {
    margin-left: 30px;
  }

  @include vp-767 {
    margin-left: 20px;
  }
}
