.news__container {
  padding-top: 120px;

  @include vp-1200 {
    padding-top: 113px;
  }

  @include vp-767 {
    padding-top: 72px;
  }
}

.news__wrapper {
  @include vp-767 {
    padding: 0;
  }

  h2 {
    text-align: center;
    margin: 0 auto;
  }
}

.news__tabs-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include vp-1200 {
    padding: 43px 0 30px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
  }

  @include vp-767 {
    margin-bottom: 0;
    padding: 30px 3px 24px 15px;
    position: relative;
  }
}

.news__tabs-item {
  margin-right: 30px;

  @include vp-1200 {
    margin-right: 10px;
    width: max-content;
  }

  @include vp-767 {
    margin-right: 12px;
  }
}

.news__tabs-button {
  padding: 14px 26px;
  color: $color-bright;
  font-family: $font-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  @include vp-1200 {
    padding: 14px 20px;
  }

  @include vp-767 {
    padding: 10px 14px;
    font-size: 12px;
    letter-spacing: 0.24px;
  }

  &.is-active {
    border-radius: 20px;
    box-shadow: 0 0 0 1px $color-bright;
  }
}

.news__tabs-wrapper {
  @include vp-767 {
    padding: 0 15px;
  }
}

.news__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 40px;

  @include vp-1200 {
    margin-bottom: 30px;
    height: 730px;
  }

  @include vp-767 {
    height: 590px;
    margin-bottom: 24px;
  }
}

.news__item {
  padding: 46px 46px 0 0;
  border-radius: 12px;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  width: 286px;
  box-sizing: border-box;

  @include vp-1200 {
    padding: 26px 84px 0 0;
    height: 350px;
    min-height: 350px;
    width: auto;
  }

  @include vp-767 {
    padding: 27px 27px 0 0;
    height: 240px;
    min-height: 240px;
  }

  &:first-child {
    width: 604px;

    @include vp-1200 {
      max-width: none;
    }
  }

  &:last-child {
    margin: 0;
  }

  &:nth-child(1 of .news__item--visible) {
    @include vp-767 {
      height: 330px;
      min-height: 330px;
    }
  }

  &--trainee {
    background-image: url("../img/news/news-trainee@2x.jpg");

    @include vp-767 {
      background-image: url("../img/news/news-trainee-mob@2x.jpg");
    }
  }

  &--career {
    background-image: url("../img/news/news-career@2x.jpg");

    @include vp-767 {
      background-image: url("../img/news/news-career-mob@2x.jpg");
    }

    &-dt {
      display: none;

      @include vp-1200 {
        display: flex;
      }
    }
  }

  &--travel {
    background-image: url("../img/news/news-travel@2x.jpg");

    @include vp-767 {
      background-image: url("../img/news/news-travel-mob@2x.jpg");
    }
  }

  &--volunteer {
    background-image: url("../img/news/news-volunteer@2x.jpg");

    @include vp-767 {
      background-image: url("../img/news/news-volunteer-mob@2x.jpg");
    }
  }
}

.news__item-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  span {
    padding: 12px 12px 6px 0px;
    border-radius: 0px 12px 0px 0px;
    background: $color-light;
    color: $color-bright;
    font-family: $font-regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    position: relative;

    &::before {
      @include angle;
      bottom: 0;
      transform: rotate(270deg);
      background-image: url("../img/svg/angle-beige.svg");
    }

    &::after {
      @include angle;
      bottom: auto;
      top: -26px;
      left: 0;
      transform: rotate(270deg);
      background-image: url("../img/svg/angle-beige.svg");

      @include vp-767 {
        top: -10px;
      }
    }
  }

  h3 {
    padding: 18px 18px 6px 0px;
    border-radius: 0px 12px 0px 0px;
    background: $color-light;
    margin: 0;
    color: $color-bright;
    font-family: $font-regular;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    max-width: 80%;

    @include vp-1200 {
      font-size: 20px;
      padding: 10px 18px 6px 0px;
      line-height: 24px;
      max-width: 70%;
    }

    @include vp-767 {
      font-size: 16px;
      padding: 10px 18px 4px 0px;
      line-height: 18px;
    }

    &::before {
      @include angle;
      bottom: 0;
      transform: rotate(270deg);
      background-image: url("../img/svg/angle-beige.svg");
    }
  }
}

.description-wrapper {
  display: flex;
  padding: 12px 18px 15px 0px;
  border-radius: 0px 12px;
  background: $color-light;
  position: relative;

  @include vp-767 {
    padding: 12px 10px 10px 0px;
  }

  &::before {
    @include angle;
    bottom: 0;
    transform: rotate(270deg);
    background-image: url("../img/svg/angle-beige.svg");
  }

  p {
    margin: 0;
    padding: 0;
    color: $color-dark;
    font-family: $font-regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    @include vp-1200 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.news__link-icon {
  margin-left: 16px;
  flex-shrink: 0;
  width: 30px;
  height: 30px;

  @include vp-767 {
    margin-left: 10px;
  }
}
