.news__container {
  padding-top: 122px;

  @include vp-1200 {
    padding-top: 106px;
  }

  @include vp-767 {
    padding-top: 68px;
  }
}

.news__wrapper {
  @include vp-767 {
    padding: 0;
  }

  h2 {
    text-align: center;
    margin: 0 auto;
  }
}

.news__tabs-list {
  margin: 0;
  list-style-type: none;
  padding: 42px 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include vp-1200 {
    padding: 36px 0 30px 5px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
  }

  @include vp-767 {
    margin-bottom: 0;
    padding: 27px 3px 25px 15px;
    position: relative;
  }
}

.news__tabs-item {
  margin-right: 30px;

  @include vp-1200 {
    margin-right: 12px;
    width: max-content;
  }

  @include vp-767 {
    margin-right: 14px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.news__tabs-button {
  padding: 12px 26px;
  color: $color-bright;
  font-family: $font-regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: $color-transparent;
  opacity: 0.6;
  border-radius: 20px;

  @include vp-1200 {
    padding: 12px 19px;
  }

  @include vp-767 {
    padding: 7px 12px;
    font-size: 12px;
    letter-spacing: 0.24px;
  }

  &.is-active {
    border-radius: 20px;
    box-shadow: 0 0 0 1px $color-bright;
    opacity: 1;
  }

  &:hover,
  &:focus-visible,
  &:focus-within {
    opacity: 1;
    outline: none;
  }
}

.news__tabs-wrapper {
  @include vp-767 {
    padding: 0 15px;
  }
}

.news__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 40px;

  @include vp-1200 {
    margin-bottom: 30px;
    height: 730px;
  }

  @include vp-767 {
    height: 590px;
    margin-bottom: 24px;
  }
}

.news__item {
  padding: 46px 46px 0 0;
  border-radius: 12px;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  width: 286px;
  box-sizing: border-box;

  @include vp-1200 {
    padding: 26px 84px 0 0;
    height: 350px;
    min-height: 350px;
    width: auto;
  }

  @include vp-767 {
    padding: 27px 27px 0 0;
    height: 240px;
    min-height: 240px;
  }

  &:last-child {
    margin: 0;
  }

  &:nth-child(1 of .news__item--visible) {
    @include vp-767 {
      height: 330px;
      min-height: 330px;
    }
  }

  &--trainee {
    background-image: url("../img/news/news-trainee@2x.jpg");

    @include vp-1200 {
      background-image: url("../img/news/news-trainee-tab@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/news/news-trainee-mob@2x.jpg");
    }
  }

  &--trainee-tab {
    display: none;

    @include vp-1200 {
      display: flex;
    }

    @include vp-767 {
      display: none;
    }
  }

  &--career {
    background-image: url("../img/news/news-career@2x.jpg");

    @include vp-767 {
      background-image: url("../img/news/news-career-mob@2x.jpg");
    }

    &-dt {
      display: none;

      @include vp-1200 {
        display: flex;
      }
    }
  }

  &--travel {
    background-image: url("../img/news/news-travel@2x.jpg");

    @include vp-767 {
      background-image: url("../img/news/news-travel-mob@2x.jpg");
    }
  }

  &--volunteer {
    background-image: url("../img/news/news-volunteer@2x.jpg");

    @include vp-767 {
      background-image: url("../img/news/news-volunteer-mob@2x.jpg");
    }
  }
}

.news__item-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  span {
    padding: 8px 12px 6px 0;
    border-radius: 0 12px 0 0;
    background: $color-light;
    color: $color-bright;
    font-family: $font-regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    position: relative;

    &::before {
      @include angle;
      bottom: 0;
      transform: rotate(270deg);
      background-image: url("../img/svg/angle-beige.svg");
    }

    &::after {
      @include angle;
      bottom: auto;
      top: -26px;
      left: 0;
      transform: rotate(270deg);
      background-image: url("../img/svg/angle-beige.svg");

      @include vp-1200 {
        padding: 9px 12px 6px 0;
      }

      @include vp-767 {
        top: -16px;
      }
    }

    @include vp-767 {
      padding: 9px 12px 6px 0;
    }
  }

  h3 {
    padding: 6px 18px 0 0;
    border-radius: 0 12px 0 0;
    background: $color-light;
    margin: 0;
    color: $color-bright;
    font-family: $font-regular;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    max-width: 89%;
    letter-spacing: -0.7px;

    @include vp-1200 {
      font-size: 20px;
      padding: 4px 18px 2px 0;
      line-height: 24px;
      max-width: 86%;
    }

    @include vp-767 {
      font-size: 16px;
      max-width: 76%;
      padding: 9px 10px 0 0;
      line-height: 20px;
      letter-spacing: -0.5px;
    }

    &::before {
      @include angle;
      bottom: 0;
      transform: rotate(270deg);
      background-image: url("../img/svg/angle-beige.svg");
    }
  }
}

.news__description-wrapper {
  display: flex;
  padding: 8px 18px 12px 0;
  border-radius: 0 12px;
  background: $color-light;
  position: relative;
  align-items: center;

  @include vp-767 {
    padding: 12px 10px 10px 0;
  }

  &::before {
    @include angle;
    bottom: 0;
    transform: rotate(270deg);
    background-image: url("../img/svg/angle-beige.svg");
  }

  p {
    margin: 0;
    padding: 0;
    color: $color-dark;
    font-family: $font-regular;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    @include vp-1200 {
      line-height: 19px;
      letter-spacing: 0.1px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: -0.4px;
    }
  }

  br {
    @include vp-767 {
      display: none;
    }
  }
}

.news__link-icon {
  margin-left: 16px;
  margin-top: 3px;
  flex-shrink: 0;
  width: 30px;
  height: 30px;

  @include vp-1200 {
    margin-left: 16px;
  }

  @include vp-767 {
    margin-left: 10px;
  }
}

.news__item:first-child {
  width: 604px;
  padding: 46px 215px 0 0;

  & h3 {
    padding: 11px 18px 0 0;
    max-width: 292px;
    line-height: 28px;
    letter-spacing: -0.3px;
  }

  & span {
    padding: 8px 10px 6px 0;
  }

  @include vp-1200 {
    max-width: none;
    padding: 26px 84px 0 0;
    width: auto;

    & h3 {
      padding: 4px 18px 2px 0;
      line-height: 24px;
      max-width: 86%;
    }

    & span {
      padding: 9px 12px 6px 0;
    }
  }

  @include vp-767 {
    padding: 26px 27px 0 0;

    & h3 {
      max-width: 76%;
      padding: 9px 10px 0 0;
      line-height: 20px;
      letter-spacing: -0.5px;
    }
  }
}
