.programs__container {
  padding: 130px 0 120px;

  @include vp-1200 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 73px 0 67px;
  }
}

.programs__wrapper {
  position: relative;

  @include vp-1200 {
    padding: 0;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.programs__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;

  @include vp-1200 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.programs__button {
  @include vp-767 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.programs__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 62px;
}

.programs__item {
  border-radius: 12px;
  padding: 51px 51px 20px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 420px;
  background-color: $color-light;

  @include vp-1200 {
    width: 324px;
    padding: 41px 41px 20px 20px;
  }

  @include vp-767 {
    padding: 18px 10px;
    width: 100%;
  }

  &::before {
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: $color-bright;
    opacity: 0.2;
    border-radius: 12px;
  }

  &--trainee {
    background-image: url("../img/programs/programs-trainee@2x.jpg");

    @include vp-1200 {
      background-image: url("../img/programs/programs-trainee-tab@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/programs/programs-trainee-mob@2x.jpg");
    }
  }

  &--volunteer {
    background-image: url("../img/programs/programs-volunteer@2x.jpg");

    @include vp-1200 {
      background-image: url("../img/programs/programs-volunteer-tab@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/programs/programs-volunteer-mob@2x.jpg");
    }
  }

  &--education {
    background-image: url("../img/programs/programs-education@2x.jpg");

    @include vp-1200 {
      background-image: url("../img/programs/programs-education-tab@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/programs/programs-education-mob@2x.jpg");
    }
  }

  &--religion {
    background-image: url("../img/programs/programs-trainee@2x.jpg");

    @include vp-1200 {
      background-image: url("../img/programs/programs-trainee-tab@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/programs/programs-trainee-mob@2x.jpg");
    }
  }
}

.programs__item-block-wrapper {
  h3 {
    padding: 0;
    margin: 0;
    padding: 18px 18px 6px 18px;
    border-radius: 12px 12px 0px 0px;
    background: $color-default-white;
    color: $color-bright;
    font-family: $font-regular;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: min-content;
    max-width: 90%;
    position: relative;

    @include vp-1200 {
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
    }

    &::before {
      @include angle;
      bottom: 0;
      transform: rotate(270deg);
    }
  }
}

.programs__description-wrapper {
  display: flex;
  align-items: center;
  padding: 12px 18px 15px 18px;
  background: $color-default-white;
  border-radius: 0px 12px 12px 12px;
  position: relative;

  p {
    padding: 0;
    margin: 0;
    color: $color-dark;
    font-family: $font-regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    @include vp-1200 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.programs__link-icon {
  margin-left: 16px;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
}
