.reviews__container {
  padding: 71px 0 120px;

  @include vp-1200 {
    padding: 65px 0 101px;
  }

  @include vp-767 {
    padding: 63px 0 67px;
  }
}

.reviews__wrapper {
  position: relative;

  @include vp-1200 {
    padding: 0;
  }

  @include vp-767 {
    padding: 0 15px;
  }

  h2 {
    margin-bottom: 41px;

    @include vp-1200 {
      padding: 0 45px;
      margin-bottom: 46px;
    }

    @include vp-767 {
      padding: 0;
      margin-bottom: 30px;
    }
  }
}

.reviews__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 59px;

  @include vp-1200 {
    margin-bottom: 58px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.reviews__card {
  border-radius: 16px;
  padding: 49px;
  padding-bottom: 42px;
  border: 1px solid $color-bright;

  @include vp-1200 {
    width: 560px;
    height: auto;
    padding-bottom: 47px;
  }

  @include vp-767 {
    width: 100%;
    padding: 30px 10px 23px 14px;
  }
}

.reviews__card-title-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;

  @include vp-767 {
    margin-bottom: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.reviews__card-photo-wrapper {
  display: flex;
  align-items: center;
  margin-right: 25px;

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 13px;
  }

  img {
    margin-right: 15px;

    @include vp-767 {
      margin-right: 10px;
      width: 60px;
      height: 60px;
    }
  }

  span {
    color: $color-bright;
    font-family: $font-regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    @include vp-1200 {
      font-size: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.reviews__card-title-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-767 {
    margin-left: 0;
    align-items: flex-start;
  }
}

.reviews__card-title-item {
  margin-right: 25px;

  &:last-child {
    margin: 0;
  }

  h3 {
    padding: 0;
    margin: 0;
    color: $color-bright;
    font-family: $font-regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.12px;
    text-transform: uppercase;

    @include vp-767 {
      margin-bottom: 8px;
      font-size: 11px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    color: $color-dark;
    font-family: $font-regular;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.3px;
    margin-top: 8px;

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
      opacity: 0.9;
      letter-spacing: -0.3px;
    }
  }
}

.reviews__card-description-container {
  p {
    padding: 0;
    margin: 0;
    color: $color-dark;
    font-family: $font-regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    @include vp-1200 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 13px;
      letter-spacing: 0.2px;
    }
  }

  p:first-child {
    color: $color-bright;
    font-family: $font-regular;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
    letter-spacing: 0.4px;

    @include vp-1200 {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.6px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
